@model CrazyPetals.Entities.WebViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = "Product Details";
    string stringHtml = "<span onclick=\"goToPreviousPage()\"><img src=\"/images/icons/arrow-left.png\" class=\"vertical-middle iconWidth-25 cursor-pointer m-r-20\"></span>";
    stringHtml = stringHtml + "<span class=\"display-inline\">Product Details</span>";

    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "product";
}



<div class="row">
    <div class="col-12">
        <div class="pull-right">
            <span class="display-inline m-r-25 f-bold cursor-pointer"><a class="f-black" asp-controller="product" asp-action="edit" asp-route-id="@Model.Id"><img src="~/images/icons/edit.png" class="img-responsive action-icon" />Edit</a></span>
            <span onclick="OpenDeleteConfirmBox('@Model.Id')" class="display-inline f-bold cursor-pointer"><img src="~/images/icons/trash.png" class="img-responsive action-icon" />Remove</span>
        </div>
    </div>
</div>

<div class="row block-container m-1">
    <div class="col-lg-3 col-md-4 col-sm-5">
        <div id="mainImgDiv" class="img-wrapper m-b-20">
            <img src="@(Model.MainImageUrl ?? "/images/icons/ic_camera.png")" class="img-responsive display-inline m-r-25 detailMain-img" />
        </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7">
        <div class="row">
            @foreach (var imgPath in Model.ImagesPaths)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div id="imgDiv1" class="img-wrapper m-t-25">
                        <img src="@(imgPath ?? "/images/icons/ic_camera.png")" class="img-responsive  display-inline m-r-25 mainSub-img" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="block-container mt-3">
    <div class="row ">
        <div class="col-4">
            <p class="f-bold f-16">Basic Details</p>
            <div class="form-group m-t-10 float-container position-relative">
                <a href="~/Views/Product/Add.cshtml"></a>
                <label class="control-label float-label">Product Name</label>
                <p class="f-bold">@Model.ProductName</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group custom-textEditor">
                <label class="control-label float-label">Description</label>
                <p class="f-bold"> @Html.Raw(Model.LongDescription)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group  position-relative ">
                <label class="float-label">Category</label>
                <p class="f-bold"> @Model.CategoryName</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  position-relative">
                <label class="float-label">Filter</label>
                <p class="f-bold"> @(Model.FilterName ?? "NA")</p>
            </div>
        </div>

        <div class="col-md-4">
            <label class="float-label">Is published on mobile app?</label>
            <p class="f-bold"> @Model.Status</p>
        </div>
        <div class="col-4">
            <label class="float-label">Available size</label>
            <p class="f-bold"> @(Model.AvailableSizes?? "NA")</p>

        </div>
        <div class="col-md-4">
            <label class="float-label">Product has a color varient?</label>
            <p class="f-bold"> @(Model.AvailableColors?? "NA")</p>

        </div>
    </div>
</div>

<div class="block-container m-t-20">
    <p class="f-bold f-16">Product Details </p>
    <div class="row">
        <div class="col-2">
            <div class="form-group m-t-10 float-container position-relative">
                <label class="control-label float-label">Product Length</label>
                <p class="f-bold"> @(Model.ProductLength ?? "NA")</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group m-t-10 float-container position-relative">
                <label class="control-label float-label">Product Width</label>
                <p class="f-bold"> @(Model.ProductWeight ?? "NA")</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group m-t-10 float-container position-relative">
                <label class="control-label float-label">Product Height</label>
                <p class="f-bold"> @(Model.ProductHeight ?? "NA")</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group m-t-10 float-container position-relative">
                <label class="control-label float-label">Product Weight</label>
                <p class="f-bold"> @(Model.ProductWeight ?? "NA")</p>
            </div>
        </div>
    </div>
</div>


<div class="block-container m-t-20">
    <p class="f-bold f-16">Pricing </p>
    <div class="row">
        <div class="col-2">
            <div class="form-group m-t-10  float-container position-relative">
                <label class="control-label float-label">Original Price</label>
                <p class="f-bold"> @(Model.OriginalPrice ?? "NA")</p>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group m-t-10 float-container position-relative">
                <label class="control-label float-label">Offer Price</label>
                <p class="f-bold"> @(Model.DiscountedPrice ?? "NA")</p>
            </div>
        </div>
    </div>
</div>

<div class="block-container m-t-20">
    <p class="f-bold f-16">Other details</p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group m-t-10  float-container position-relative">
                <label class="control-label float-label">Material Type</label>
                <p class="f-bold"> @(Model.MaterialType ?? "NA")</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-t-10  float-container position-relative">
                <label class="control-label float-label">Approx. Delivery Time</label>
                <p class="f-bold"> @(Model.DeliveryTime ?? "NA")</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-t-10 float-container position-relative">
                <label class="control-label float-label">Accessories</label>
                <p class="f-bold"> @(Model.Accessories ?? "NA")</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-t-10  float-container position-relative">
                <label class="control-label float-label">Precaution / Instuctions</label>
                <p class="f-bold"> @(Model.PrecautionsInstructions ?? "NA")</p>
            </div>
        </div>

    </div>
</div>
<div class="block-container m-t-20">
    <p class="f-bold f-16">Inventory</p>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group m-t-10 float-container position-relative">
                <label class="control-label float-label">Stock Keeping Unit</label>
                <p class="f-bold"> @(Model.StockKeepingUnit ?? "NA")</p>
            </div>
        </div>
        <div class="col-2">
            <label class="float-label m-t-10">Is product Available?</label>
            <p class="f-bold"> @Model.IsAvailable</p>
        </div>
        <div class="col-2">
            <label class="float-label m-t-10">Is Product Exclusive?</label>
            <p class="f-bold"> @Model.IsExclusive</p>
        </div>
    </div>
</div>

<partial name="_deletePopup" />

