@model CrazyPetals.Entities.WebViewModels.CategoryWrapperViewModel
<div id="indexPartialContent">
    @if (Model.TotalCount <= 0)
    {
        <div class="empty-state-question">
            <a asp-action="add" asp-controller="category" class="btn btn-primary mr-4 add-icon"> Add New Category <img src="/images/icons/Plus.png"></a>
            <p class="mt-4 f-22 f-bold">
                Start adding category.
            </p>
            <p class="f-gray mt-2 f-14">Click on "Add New Category" button to add category.</p>

        </div>
    }
    else
    {

        <div class="row m-auto">
            @foreach (var category in Model.CategoryList)
            {
                <div class="col-md-3 p-2 d-flex align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <img src="@category.ImagePath" class="card-img-top" alt="@category.Name">
                        <div class="card-body">
                            <h5 class="card-title">@category.Name</h5>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="px-5">
                                    <a asp-controller="category" asp-action="edit" asp-route-id="@category.Id" class="card-link text-danger">edit</a>
                                </div>
                                <div class="px-5">
                                    <span onclick="openModal('@category.Id')" class="cursor-pointer card-link text-danger">delete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--Pagination-->
        <div class="pagination justify-content-center align-items-center">
            <button onclick="getRecordsByPageIndex(@(Model.PagingData.CurrentIndex-1))" @(Model.PagingData.IsFirst ? "disabled" : "")><img src="~/images/icons/left.png" /></button>
            <span class="mx-4">Viewing <span class="f-semi-bold">@Model.PagingData.FromRecord - @Model.PagingData.UpToRecord</span> of <span class="f-semi-bold">@Model.TotalCount</span></span>
            <button onclick="getRecordsByPageIndex(@(Model.PagingData.CurrentIndex+1))" @(Model.PagingData.IsLast ? "disabled" : "")><img src="/images/icons/right.png" /></button>
        </div>
    }
</div>
